/* Navbar */

nav {
  width: min(100% - 2rem, 75rem);
  align-items: center;
  padding: 1rem 2rem;
  border-radius: 2rem;
  margin: 1rem auto;
  background: var(--secondary);
}

nav h1 {
  font-size: 28px;
  margin: 0;
  transition: 0.3s;
  border: 0;
}

nav h1:hover {
  transform: scale(1.25);
  cursor: pointer;
}

nav .links {
  gap: 1.5rem;
}

nav ul li {
  padding: 0;
}

nav [role="button"] {
  padding: 0.25rem 0.75rem;
  border-radius: 1rem;
}

/* Error Page  */

.error {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-height: 100vh;
}

.error article {
  max-width: 640px;
}

.error h1 {
  margin: 0;
}

.error [role="button"] {
  width: 100%;
}
